Repository kmori6/auth: changes, and which lefthook commands are due for each by the changed paths.
All: auth-fmt, auth-lint, web-fmt, web-lint, terraform-fmt, terraform-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    auth-fmt:
      glob: "apps/auth/**/*.rs"
      run: cd apps/auth && cargo fmt
    auth-lint:
      glob: "apps/auth/**/*.rs"
      run: cd apps/auth && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings
    web-fmt:
      glob: "apps/web/**"
      run: cd apps/web && bun format --write
    web-lint:
      glob: "apps/web/**"
      run: cd apps/web && bun lint --write
    terraform-fmt:
      glob: "tools/terraform/**/*.tf"
      run: cd tools/terraform && terraform fmt -recursive
    terraform-lint:
      glob: "tools/terraform/**/*.tf"
      run: cd tools/terraform && tflint --recursive -c "$(realpath .tflint.hcl)" --fix

fix
  .github/workflows/web-deploy.yml
Due: none

change directory
  docker-compose.yml
  tools/migrations/docker/Dockerfile
  tools/migrations/sql/auth/U1__create_users_table.sql
  tools/migrations/sql/auth/V1__create_users_table.sql
  tools/migrations/sql/postgres/U0__create_auth_database.sql
  tools/migrations/sql/postgres/V0__create_auth_database.sql
Due: none

add postgres volumes
  docker-compose.yml
Due: none

fix dockerfile
  docker-compose.yml
  tools/migrations/docker/Dockerfile
Due: none

add cicd
  .github/workflows/migrations-deploy.yml
  tools/terraform/bootstrap/ecr/main.tf
  tools/terraform/bootstrap/ecr/output.tf
Due: terraform-fmt, terraform-lint

change dockerfile
  tools/migrations/docker/Dockerfile
Due: none

update
  docker-compose.yml
  tools/migrations/docker/Dockerfile
Due: none

add flyway molecules
  tools/terraform/bootstrap/ecr/main.tf
  tools/terraform/environments/develop/main.tf
  tools/terraform/environments/develop/output.tf
  tools/terraform/environments/develop/variables.tf
  tools/terraform/modules/molecules/flyway/main.tf
  tools/terraform/modules/molecules/flyway/output.tf
  tools/terraform/modules/molecules/flyway/variables.tf
Due: terraform-fmt, terraform-lint

add desired_count to auth ecs
  tools/terraform/environments/develop/main.tf
  tools/terraform/environments/develop/variables.tf
  tools/terraform/modules/molecules/auth/main.tf
  tools/terraform/modules/molecules/auth/variables.tf
Due: terraform-fmt, terraform-lint

delete default database
  tools/terraform/environments/develop/main.tf
  tools/terraform/modules/molecules/postgres/main.tf
  tools/terraform/modules/molecules/postgres/variables.tf
Due: terraform-fmt, terraform-lint

add cmd
  tools/migrations/docker/Dockerfile
Due: none

add flyway script
  tools/migrations/.env.sample
  tools/migrations/scripts/run_flyway.sh
Due: none

remove
  .github/workflows/migrations-deploy.yml
Due: none

add github actions
  .github/workflows/flyway-auth-deploy.yml
Due: none

fix action
  .github/workflows/web-deploy.yml
Due: none

add vriable
  tools/terraform/environments/develop/main.tf
  tools/terraform/environments/develop/variables.tf
  tools/terraform/modules/molecules/auth/main.tf
  tools/terraform/modules/molecules/auth/variables.tf
Due: terraform-fmt, terraform-lint

add vriable (#6)
  tools/terraform/environments/develop/main.tf
  tools/terraform/environments/develop/variables.tf
  tools/terraform/modules/molecules/auth/main.tf
  tools/terraform/modules/molecules/auth/variables.tf
Due: terraform-fmt, terraform-lint

add test
  apps/auth/src/application/config/app_state.rs
  apps/auth/src/application/handler/login.rs
  apps/auth/src/domain/model/user.rs
  apps/auth/src/domain/service/authorization_service.rs
  apps/auth/src/domain/service/jwt_service.rs
  apps/auth/src/main.rs
Due: auth-fmt, auth-lint

add test (#7)
  apps/auth/src/application/config/app_state.rs
  apps/auth/src/application/handler/login.rs
  apps/auth/src/domain/model/user.rs
  apps/auth/src/domain/service/authorization_service.rs
  apps/auth/src/domain/service/jwt_service.rs
  apps/auth/src/main.rs
Due: auth-fmt, auth-lint

update test
  apps/auth/src/application/handler/login.rs
Due: auth-fmt, auth-lint

add crate
  apps/auth/src/domain/repository/user_repository.rs
Due: auth-fmt, auth-lint

add verify token function
  apps/auth/src/domain/service/jwt_service.rs
Due: auth-fmt, auth-lint

add the get user by id function
  apps/auth/src/domain/service/user_service.rs
Due: auth-fmt, auth-lint

add the verify token function
  apps/auth/src/domain/service/authorization_service.rs
Due: auth-fmt, auth-lint

add test
  apps/auth/src/application/handler/get_user.rs
Due: auth-fmt, auth-lint

add public key ref
  apps/auth/.env.sample
  apps/auth/Cargo.lock
  apps/auth/Cargo.toml
  apps/auth/src/application/handler/get_user.rs
  apps/auth/src/application/handler/login.rs
  apps/auth/src/domain/service/jwt_service.rs
  apps/auth/src/main.rs
Due: auth-fmt, auth-lint

impl find user by id
  apps/auth/src/infrastructure/repository/sqlx_user_repository.rs
Due: auth-fmt, auth-lint

remove
  apps/auth/src/domain/service/user_service.rs
Due: auth-fmt, auth-lint

add error message
  apps/auth/src/application/handler/get_user.rs
  apps/auth/src/application/model/user.rs
Due: auth-fmt, auth-lint

update openapi.yml
  apps/auth/docs/openapi.yml
Due: none

Feature/auth me (#8)
  apps/auth/.env.sample
  apps/auth/Cargo.lock
  apps/auth/Cargo.toml
  apps/auth/docs/openapi.yml
  apps/auth/src/application/handler/get_user.rs
  apps/auth/src/application/handler/login.rs
  apps/auth/src/application/model/user.rs
  apps/auth/src/domain/repository/user_repository.rs
  apps/auth/src/domain/service/authorization_service.rs
  apps/auth/src/domain/service/jwt_service.rs
  apps/auth/src/domain/service/user_service.rs
  apps/auth/src/infrastructure/repository/sqlx_user_repository.rs
  apps/auth/src/main.rs
Due: auth-fmt, auth-lint

update readme
  README.md
Due: none

update readme (#9)
  README.md
Due: none
